tools/application_server/basic-modem-as-flow2.json
[{"id":"67534860.474c28","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cfd39c95.fcbc08","type":"link in","z":"67534860.474c28","name":"","links":["4cd14105.ca07e"],"x":195,"y":240,"wires":[["993706c5.c2351"]]},{"id":"993706c5.c2351","type":"function","z":"67534860.474c28","name":"Parse TLV output","func":"function pad(b) {\n  const h = b.toString(16);\n  return (h + \"\").length < 2 ? \"0\" + h : h;\n}\n\nfunction parse_wifi(devEui, bytes) {\n    const das_query = {\n        [devEui.match( /.{1,2}/g ).join( '-' )]:{\n            \"msgtype\":\"wifi\",\n            \"payload\": `01${bytes}`,\n        }\n    };\n\n    bytes = Buffer.from(bytes, \"hex\");\n    var addresses = [];\n    for (var i = 0; i < bytes.length; i += 7) {\n        var rssi_raw = bytes[i + 0];\n        var bssid_slice = bytes.slice(i + 1, i + 7);\n        var bssid = [];\n        bssid_slice.forEach(byte => {\n            bssid.push(pad(byte));\n        });\n        addresses.push({\n            \"macAddress\": bssid.join(\":\"),\n            \"signalStrength\":  (rssi_raw > 127) ? rssi_raw - 256 : rssi_raw,\n        });\n    }\n    \n    const lorawan = [{\n        \"gatewayId\": \"fake\",\n        \"antennaId\": 0,\n        \"rssi\": 0,\n        \"snr\":0,\n        \"antennaLocation\": {\n            \"latitude\": 0.0,\n            \"longitude\": 0.0,\n            \"altitude\": 0.0\n        }\n    }];\n    \n    var gls_query = {\n       \"lorawan\": lorawan,\n       \"wifiAccessPoints\": addresses,\n    };\n    gls_query.wifiAccessPoints.forEach(ap => {\n        delete ap.type;\n        delete ap.channel;\n    });\n    \n    \n    return {\n        \"type\": \"Wi-Fi\",\n        \"addresses\": addresses,\n        \"raw\": bytes,\n        \"gls_query\": gls_query,\n        \"das_query\": das_query,\n    };\n}\n\nfunction parse_gnss(antenna, devEui, data) {\n    const das_query = {\n        [devEui.match( /.{1,2}/g ).join( \"-\" )]:{\n            \"msgtype\":\"gnss\",\n            \"payload\": data,\n            \"gnss_assist_position\": global.get(\"device_assistance_coordinates\"),\n        }\n    };\n    \n    return {\n        \"type\": `GNSS - ${antenna} antenna`,\n        \"data\": data,\n        \"das_query\": das_query,\n    };\n}\n\nfunction parse_signed_2_bytes_int(value) {\n    var value_int =  parseInt(value, 16);\n    if ((value_int & 0x8000) > 0) {\n        value_int = value_int - 0x10000;\n    }\n    return value_int;\n}\n\nfunction parse_acc(data) {\n    // 09 0\n    // Move: 08\n    // Acc_x: 0000\n    // Acc_y: 0010\n    // Acc_z: 0424\n    // 0b000a0200000001\n    const move_history = parseInt(data.slice(0, 2), 16);\n    const acc = {\n        'x': parse_signed_2_bytes_int(data.slice(2, 6), 16),\n        'y': parse_signed_2_bytes_int(data.slice(6, 10), 16),\n        'z': parse_signed_2_bytes_int(data.slice(10, 14), 16),\n    };\n    const temperature =  parse_signed_2_bytes_int(data.slice(14, 18), 16)/100;\n    \n    return {\n        \"type\": \"acc\",\n        \"move_history\": move_history,\n        \"acc_mg\": acc,\n        \"temperature_C\": temperature\n    };\n}\n\nfunction parse_charge(data) {\n    return {\n        \"type\": \"charge\",\n        \"charge_mAh\": data,\n    };\n}\n\nfunction create_message(payload, uplink, topic) {\n    return {\n        \"payload\": payload,\n        \"uplink\": uplink,\n        \"topic\": topic,\n    };\n}\n\n\n\n\n\nmsg.payload.forEach( stream_array => {\n    var index = 0;\n    var stream = stream_array[1];\n    \n    while(index < stream.length) {\n        var tag = parseInt(stream.slice(index, index + 2), 16);\n        index += 2;\n        var length = parseInt(stream.slice(index, index + 2), 16);\n        index += 2;\n        var value = stream.slice(index, index + length*2);\n        index += length * 2;\n        \n        \n        switch (tag) {\n            case 5:         // GNSS - No specific antenna\n                node.send(\n                    create_message(\n                        parse_gnss(\"\", msg.uplink.devEui, value),\n                        msg.uplink,\n                        msg.topic\n                    )\n                );\n                break;\n            case 6:\n                node.send(\n                    create_message(\n                        parse_gnss(\"PCB\", msg.uplink.devEui, value),\n                        msg.uplink,\n                        msg.topic\n                    )\n                );\n                break;\n            case 7:\n                node.send(\n                    create_message(\n                        parse_gnss(\"Patch\", msg.uplink.devEui, value),\n                        msg.uplink,\n                        msg.topic\n                    )\n                );\n                break;\n            case 8:\n                node.send(\n                    create_message(\n                        parse_wifi(msg.uplink.devEui, value),\n                        msg.uplink,\n                        msg.topic\n                    )\n                );\n                break;\n            case 9:\n                node.send(\n                    create_message(\n                        parse_acc(value),\n                        msg.uplink,\n                        msg.topic\n                    )\n                );\n                break;\n            case 10:\n                node.send(\n                    create_message(\n                        parse_charge(value),\n                        msg.uplink,\n                        msg.topic\n                    )\n                );\n                break;\n            default:\n                continue;\n        }\n    }\n    \n});\n\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":240,"wires":[["90325f71.236e6","30407ba8.53694c","baaf1491.c81d5"]]},{"id":"90325f71.236e6","type":"switch","z":"67534860.474c28","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"Wi-Fi","vt":"str"},{"t":"cont","v":"GNSS","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":240,"wires":[["85baa5c.1488458"],["2fff1d8e.81513a"],["5c4e5841.89e6d"]],"outputLabels":["Wi-Fi","GNSS","Tracker"],"info":"Route data regarding their content:\n* Wi-Fi\n* GNSS\n* Tracker data (accelerometer/battery)"},{"id":"d51757cd.386","type":"function","z":"67534860.474c28","name":"Prepare Wi-Fi request","func":"const api = \"api/v1/uplink/send\";\n\nmsg.url = `${global.get('das_url')}/${api}`;\nmsg.method = \"POST\";\nmsg.headers = {\n    'Authorization': global.get('das_token'),\n    'Content-Type': 'application/json',\n};\n\nmsg.data = msg.payload;\nmsg.payload = msg.payload.das_query;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":520,"wires":[["dd8eb5e2.90c3f8"]]},{"id":"dd8eb5e2.90c3f8","type":"http request","z":"67534860.474c28","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":520,"wires":[["df853814.c8253","28100322.1678e4"]]},{"id":"df853814.c8253","type":"json","z":"67534860.474c28","name":"","property":"payload","action":"","pretty":false,"x":590,"y":520,"wires":[["11fc541b.796fe4"]]},{"id":"11fc541b.796fe4","type":"function","z":"67534860.474c28","name":"waypoints","func":"if (msg.payload.result === null) return;\n\nconst date_options = {\n     year: \"2-digit\",\n     month:\"2-digit\",\n     day:\"2-digit\"\n}\nconst time_options = {\n       timeZone:\"Asia/Shanghai\",\n       hour12 : false,\n       hour:  \"2-digit\",\n       minute: \"2-digit\",\n      second: \"2-digit\"\n}\n\nlet wifi_start = global.get('wifi_start');\nif(wifi_start == \"reset\" || wifi_start === undefined){\n    wifi_start = new Date().toLocaleDateString(\"zh-CN\", date_options);\n    wifi_start += \" \" + new Date().toLocaleTimeString(\"zh-CN\", time_options);\n}\nglobal.set('wifi_start', wifi_start);\n\nconst devEui = msg.uplink.devEui.match( /.{1,2}/g ).join( '-' );\nlet ref = global.get('device_assistance_coordinates');\ntry {\n    const coordinates = msg.payload.result[devEui].result.position_solution.llh;\n    if((coordinates[0] < (ref[0] - 2)) || (coordinates[0] > (ref[0] + 2)) )\n        return [null, null];\n    if((coordinates[1] < (ref[1] - 2)) || (coordinates[1] > (ref[1] + 2)) )\n        return [null, null];\n\n    msg.payload = {\n        \"name\": `${devEui} (Wi-Fi) start from ${wifi_start}`,\n        \"lat\": coordinates[0],\n        \"lon\": coordinates[1],\n        \"icon\": \"fa-wifi\",\n        \"ttl\": 86400, // 24 hours\n        \"color\":\"#008000\",\n        \"command\": {\n            \"lat\": coordinates[0],\n            \"lon\": coordinates[1],\n            \"layer\": \"OSM\"\n        }\n    }\n    return [msg, null];\n} catch(err) {\n    msg.payload = msg.payload.result[devEui].result.log_messages;\n    return [null, msg];\n}\n\nreturn msg;\n\n/*\nif (msg.payload.result === null) return;\n\nconst devEui = msg.uplink.devEui.match( /.{1,2}/g ).join( '-' );\n\ntry {\n    const coordinates = msg.payload.result[devEui].result.position_solution.llh;\n    msg.payload = {\n        \"name\": `${devEui} (Wi-Fi)`,\n        \"lat\": coordinates[0],\n        \"lon\": coordinates[1],\n        \"icon\": \"fa-wifi\",\n        \"command\": {\n            \"lat\": coordinates[0],\n            \"lon\": coordinates[1],\n            \"layer\": \"OSM\",\n            \"zoom\": 16,\n        }\n    }\n    return [msg, null];\n} catch(err) {\n    msg.payload = msg.payload.result[devEui].result.log_messages;\n    return [null, msg];\n}\n\nreturn msg;\n*/","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":520,"wires":[["d2e4aa48.ea22f","f9a531f7.6b2b68"],["716c8080.e290d"]]},{"id":"85baa5c.1488458","type":"link out","z":"67534860.474c28","name":"","links":["e9cb4c14.3bf0d8","314f7c36.4d0234"],"x":655,"y":200,"wires":[]},{"id":"e9cb4c14.3bf0d8","type":"link in","z":"67534860.474c28","name":"To prepare Wi-Fi request","links":["85baa5c.1488458"],"x":95,"y":520,"wires":[["d51757cd.386"]]},{"id":"2de15a0d.6aaba6","type":"link in","z":"67534860.474c28","name":"To prepare GNSS request","links":["2fff1d8e.81513a"],"x":95,"y":645,"wires":[["5a518511.27bd6c"]]},{"id":"5a518511.27bd6c","type":"function","z":"67534860.474c28","name":"Prepare GNSS request","func":"const api = \"api/v1/uplink/send\";\n\nmsg.url = `${global.get('das_url')}/${api}`;\nmsg.method = \"POST\";\nmsg.headers = {\n    'Authorization': global.get('das_token'),\n    'Content-Type': 'application/json',\n};\n\nmsg.data = msg.payload;\nmsg.payload = msg.payload.das_query;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":645,"wires":[["2f518426.1c073c"]]},{"id":"2f518426.1c073c","type":"http request","z":"67534860.474c28","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":645,"wires":[["4ba51037.f1cfd8","28100322.1678e4"]]},{"id":"4ba51037.f1cfd8","type":"json","z":"67534860.474c28","name":"","property":"payload","action":"","pretty":false,"x":590,"y":645,"wires":[["c70dbc05.d6fd9"]]},{"id":"2fff1d8e.81513a","type":"link out","z":"67534860.474c28","name":"","links":["2de15a0d.6aaba6"],"x":655,"y":240,"wires":[]},{"id":"c70dbc05.d6fd9","type":"function","z":"67534860.474c28","name":"waypoints","func":"/*\nmsg.payload = {\"result\":{\n  \"llh\":              [45.2, 5.7, 200],\n},\"warnings\":[],\"errors\":[\"GNSS solver error [1]: Not enough viewable satellites\"]}\n*/\n\nif (msg.payload.result === null) return;\n\nconst date_options = {\n     year: \"2-digit\",\n     month:\"2-digit\",\n     day:\"2-digit\"\n}\nconst time_options = {\n       timeZone:\"Asia/Shanghai\",\n       hour12 : false,\n       hour:  \"2-digit\",\n       minute: \"2-digit\",\n       second: \"2-digit\"\n       \n}\n\nlet gnss_start = global.get('gnss_start');\nif(gnss_start == \"reset\" || gnss_start === undefined){\n    gnss_start = new Date().toLocaleDateString(\"zh-CN\", date_options);\n    gnss_start += \" \" + new Date().toLocaleTimeString(\"zh-CN\", time_options);\n}\nglobal.set('gnss_start', gnss_start);\n\ntry {\n    const device_name = msg.topic.split('/')[2];\n    const devEui = msg.uplink.devEui.match( /.{1,2}/g ).join( '-' );\n    const data = msg.payload.result[devEui].result;\n\n    let ref = global.get('device_assistance_coordinates');\n    if((data.position_solution.llh[0] < (ref[0] - 2)) || (data.position_solution.llh[0] > (ref[0] + 2)) )\n        return [null, null];\n    if((data.position_solution.llh[1] < (ref[1] - 2)) || (data.position_solution.llh[1] > (ref[1] + 2)) )\n        return [null, null];\n        \n    msg.payload = {\n        //\"name\": `${devEui} (${msg.data.type}) start at: ${gnss_start}`,\n        \"name\": `${devEui} (GNSS) start from ${gnss_start}`,\n        \"lat\": data.position_solution.llh[0],\n        \"lon\": data.position_solution.llh[1],\n        \"icon\": \"fa-bullseye\",\n        \"ttl\": 86400, // 24 hours\n        \"color\":\"#660066\",\n        \"command\": {\n            \"lat\": data.position_solution.llh[0],\n            \"lon\": data.position_solution.llh[1],\n            \"layer\": \"OSM\"\n        }\n        \n    }\n    return [msg, null];\n} catch(err) {\n    const devEui = msg.uplink.devEui.match( /.{1,2}/g ).join( '-' );\n    msg.payload = msg.payload.result[devEui].result.log_messages;\n    return [null, msg];\n}\n\nreturn msg;\n\n\n/*\nif (msg.payload.result === null) return;\n\n\ntry {\n    const device_name = msg.topic.split('/')[2];\n    const devEui = msg.uplink.devEui.match( /.{1,2}/g ).join( '-' );\n    const data = msg.payload.result[devEui].result;\n    \n    msg.payload = {\n        \"name\": `${devEui} (${msg.data.type})`,\n        \"lat\": data.position_solution.llh[0],\n        \"lon\": data.position_solution.llh[1],\n        \"command\": {\n            \"lat\": data.position_solution.llh[0],\n            \"lon\": data.position_solution.llh[1],\n            \"layer\": \"OSM\",\n            \"zoom\": 16,\n            \n        }\n        \n    }\n    return [msg, null];\n} catch(err) {\n    const devEui = msg.uplink.devEui.match( /.{1,2}/g ).join( '-' );\n    msg.payload = msg.payload.result[devEui].result.log_messages;\n    return [null, msg];\n}\n\nreturn msg;\n*/\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":730,"y":645,"wires":[["d2e4aa48.ea22f","f9a531f7.6b2b68"],["3db021cd.b7be5e"]]},{"id":"3db021cd.b7be5e","type":"debug","z":"67534860.474c28","name":"DAS GNSS Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":665,"wires":[]},{"id":"716c8080.e290d","type":"debug","z":"67534860.474c28","name":"DAS Wi-Fi Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":440,"wires":[]},{"id":"5c4e5841.89e6d","type":"debug","z":"67534860.474c28","name":"LR1110 Tracker environmental data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":280,"wires":[]},{"id":"aab736f2.33d1f8","type":"comment","z":"67534860.474c28","name":"License","info":"Revised BSD License\nCopyright Semtech Corporation 2020. All rights reserved.\n\nRedistribution and use in source and binary forms, with or without\nmodification, are permitted provided that the following conditions are met:\n* Redistributions of source code must retain the above copyright\n  notice, this list of conditions and the following disclaimer.\n* Redistributions in binary form must reproduce the above copyright\n  notice, this list of conditions and the following disclaimer in the\n  documentation and/or other materials provided with the distribution.\n* Neither the name of the Semtech corporation nor the\n  names of its contributors may be used to endorse or promote products\n  derived from this software without specific prior written permission.\n\nTHIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS \"AS IS\"\nAND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE\nIMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE\nARE DISCLAIMED. IN NO EVENT SHALL SEMTECH S.A. BE LIABLE FOR ANY DIRECT,\nINDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES\n(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;\nLOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND\nON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT\n(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS\nSOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.\n","x":1190,"y":60,"wires":[]},{"id":"6ece3c5d.44e09c","type":"comment","z":"67534860.474c28","name":"About","info":"Demo AS for Basic Modem v0.9.5","x":1050,"y":60,"wires":[]},{"id":"d2e4aa48.ea22f","type":"worldmap","z":"67534860.474c28","name":"","lat":"31","lon":"121","zoom":"8","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"dms","showgrid":"true","path":"/worldmap","x":1300,"y":580,"wires":[]},{"id":"30407ba8.53694c","type":"debug","z":"67534860.474c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":555,"y":364,"wires":[]},{"id":"baaf1491.c81d5","type":"function","z":"67534860.474c28","name":"Save log","func":"let date = new Date(Date.now());\nmsg.time = date.toLocaleString('en-GB', { timeZone: 'UTC' });\nlet msg_file = {payload: msg};\nreturn msg_file;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":545,"y":124,"wires":[["995b7c6b.422e3"]]},{"id":"995b7c6b.422e3","type":"file","z":"67534860.474c28","name":"","filename":"logs/lr1110-demo-before-req.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":775,"y":124,"wires":[[]]},{"id":"a8252d2f.a4d1f","type":"file","z":"67534860.474c28","name":"","filename":"logs/lr1110-demo-after-req.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":795,"y":584,"wires":[[]]},{"id":"28100322.1678e4","type":"function","z":"67534860.474c28","name":"Save log","func":"let date = new Date(Date.now());\nmsg.time = date.toLocaleString('en-GB', { timeZone: 'UTC' });\nmsg.payload = JSON.parse(msg.payload);\nlet msg_file = {payload: msg};\nreturn msg_file;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":585,"y":584,"wires":[["a8252d2f.a4d1f"]]},{"id":"f9a531f7.6b2b68","type":"worldmap-tracks","z":"67534860.474c28","name":"","depth":"20000","layer":"combined","x":1010,"y":580,"wires":[["d2e4aa48.ea22f","86778324.35b5a"]]},{"id":"6188b0f0.cbbff","type":"ui_button","z":"67534860.474c28","name":"","group":"65ccc3f7.91c54c","order":1,"width":0,"height":0,"passthru":false,"label":"Clean Waypoints From Map","tooltip":"","color":"","bgcolor":"","icon":"","payload":"del","payloadType":"str","topic":"","topicType":"str","x":640,"y":720,"wires":[["6c96154a.5a1b34"]]},{"id":"6c96154a.5a1b34","type":"function","z":"67534860.474c28","name":"Clean Waypoints","func":"const devlist = global.get('deveuis');\nconst wifi_start = global.get('wifi_start');\nconst gnss_start = global.get('gnss_start');\nglobal.set('wifi_start', 'reset');\nglobal.set('gnss_start', 'reset');\n\ndevlist.forEach(function(dev){\n    msg.payload = {\n        \"name\": `${dev} (Wi-Fi) start from ${wifi_start}`,\n        \"deleted\": true\n    }\n    node.send(msg);\n\n    msg.payload = {\n        \"name\": `${dev} (GNSS) start from ${gnss_start}`,\n        \"deleted\": true\n    }\n    node.send(msg);\n})\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":720,"wires":[["d2e4aa48.ea22f"]]},{"id":"86778324.35b5a","type":"debug","z":"67534860.474c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":440,"wires":[]},{"id":"65ccc3f7.91c54c","type":"ui_group","name":"Map Preview","tab":"6b0e1783.9905","order":3,"disp":true,"width":"10","collapse":false},{"id":"6b0e1783.9905","type":"ui_tab","name":"Settings and Map","icon":"dashboard","order":1,"disabled":false,"hidden":false}]