tools/application_server/basic-modem-as-flow1.json
[{"id":"5258cdbc.d990fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"29c18cf5.804794","type":"http request","z":"5258cdbc.d990fc","name":"Query DAS","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":920,"wires":[["a9bc1b5a.d49b","4c40b8a0.ca33a"]]},{"id":"67639c51.99eac4","type":"comment","z":"5258cdbc.d990fc","name":"_________________________      Device & Application Services      _________________________","info":"","x":536,"y":866,"wires":[]},{"id":"4a545e42.322b08","type":"comment","z":"5258cdbc.d990fc","name":"_________________________      LNS Connexion      _________________________","info":"","x":460,"y":620,"wires":[]},{"id":"5f74b783.d61738","type":"comment","z":"5258cdbc.d990fc","name":"_________________________      CONFIG      _________________________","info":"Demo AS for Basic Modem v0.9.5","x":400,"y":60,"wires":[]},{"id":"12e164e2.d52ccb","type":"comment","z":"5258cdbc.d990fc","name":"License","info":"Revised BSD License\nCopyright Semtech Corporation 2020. All rights reserved.\n\nRedistribution and use in source and binary forms, with or without\nmodification, are permitted provided that the following conditions are met:\n* Redistributions of source code must retain the above copyright\n  notice, this list of conditions and the following disclaimer.\n* Redistributions in binary form must reproduce the above copyright\n  notice, this list of conditions and the following disclaimer in the\n  documentation and/or other materials provided with the distribution.\n* Neither the name of the Semtech corporation nor the\n  names of its contributors may be used to endorse or promote products\n  derived from this software without specific prior written permission.\n\nTHIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS \"AS IS\"\nAND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE\nIMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE\nARE DISCLAIMED. IN NO EVENT SHALL SEMTECH S.A. BE LIABLE FOR ANY DIRECT,\nINDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES\n(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;\nLOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND\nON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT\n(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS\nSOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.\n","x":890,"y":60,"wires":[]},{"id":"6408937c.fb3db4","type":"mqtt in","z":"5258cdbc.d990fc","name":"MQTT - Uplinks","topic":"basicsmodem/uplink","qos":"2","datatype":"auto","broker":"7f073bae.894e4c","nl":false,"rap":false,"x":120,"y":740,"wires":[["99631383.87d1a","3ef7d03c.474d6"]]},{"id":"94e00a49.1480b","type":"debug","z":"5258cdbc.d990fc","name":"DAS - Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":416,"y":1166,"wires":[]},{"id":"7f20f401.bb093c","type":"debug","z":"5258cdbc.d990fc","name":"DAS - Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":416,"y":1006,"wires":[]},{"id":"cea7a295.3d918","type":"debug","z":"5258cdbc.d990fc","name":"DAS - Stream","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":1060,"wires":[]},{"id":"9a5f6bbc.508a78","type":"mqtt out","z":"5258cdbc.d990fc","name":"MQTT - Downlinks","topic":"basicsmodem/downlink","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7f073bae.894e4c","x":306,"y":1309,"wires":[]},{"id":"b74fa3f9.6b6ce","type":"inject","z":"5258cdbc.d990fc","name":"Get devices information from DAS","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1500,"wires":[["b0fb02e2.68894"]]},{"id":"b0fb02e2.68894","type":"function","z":"5258cdbc.d990fc","name":"/api/v1/device/info","func":"var api = 'api/v1/device/info';\nmsg.method = 'post';\n\nmsg.url = `${global.get('das_url')}/${api}`;\nmsg.headers = {'Authorization': global.get('das_token')};\n\nmsg.payload = {\n   'deveuis':  global.get('deveuis'),\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1500,"wires":[["db7197af.d71b"]]},{"id":"fb5a2954.d7d1a","type":"debug","z":"5258cdbc.d990fc","name":"device/info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":1500,"wires":[]},{"id":"db7197af.d71b","type":"http request","z":"5258cdbc.d990fc","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1500,"wires":[["78f5eeac.584708"]]},{"id":"78f5eeac.584708","type":"json","z":"5258cdbc.d990fc","name":"","property":"payload","action":"","pretty":false,"x":850,"y":1500,"wires":[["fb5a2954.d7d1a"]]},{"id":"d5cd22d0.953138","type":"comment","z":"5258cdbc.d990fc","name":"_________________________      Direct API calls      _________________________","info":"","x":520,"y":1440,"wires":[]},{"id":"e5f93926.c2b91","type":"inject","z":"5258cdbc.d990fc","name":"Send reset request","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"type\":\"RESET\",\"param\":3}]","payloadType":"json","x":170,"y":1560,"wires":[["68fb5546.067e54"]]},{"id":"68fb5546.067e54","type":"function","z":"5258cdbc.d990fc","name":"/api/v1/requests/set","func":"var api = 'api/v1/requests/set';\nmsg.method = 'post';\n\nmsg.url = `${global.get('das_url')}/${api}`;\nmsg.headers = {'Authorization': global.get('das_token')};\n\nmsg.payload = {\n   'deveuis':  global.get('deveuis'),\n   'requests': msg.payload,\n   'upcount': 1,\n   'updelay': 20,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1620,"wires":[["535c10a9.2ab41"]]},{"id":"2100ae3b.8883c2","type":"debug","z":"5258cdbc.d990fc","name":"requests/add","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.result","targetType":"msg","x":990,"y":1620,"wires":[]},{"id":"535c10a9.2ab41","type":"http request","z":"5258cdbc.d990fc","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":710,"y":1620,"wires":[["f715cbb.c015ab8"]]},{"id":"f715cbb.c015ab8","type":"json","z":"5258cdbc.d990fc","name":"","property":"payload","action":"","pretty":false,"x":850,"y":1620,"wires":[["2100ae3b.8883c2"]]},{"id":"6774917d.4a8558","type":"inject","z":"5258cdbc.d990fc","name":"Send rejoin request","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"type\":\"REJOIN\"}]","payloadType":"json","x":170,"y":1600,"wires":[["68fb5546.067e54"]]},{"id":"36bb6223.53f0a6","type":"inject","z":"5258cdbc.d990fc","name":"Update all info from modem","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"type\":\"GETINFO\",\"param\":[\"appstatus\",\"uptime\",\"signal\",\"session\",\"voltage\",\"interval\",\"rxtime\",\"firmware\",\"region\",\"temp\",\"joineui\",\"chipeui\",\"adrmode\",\"charge\",\"status\",\"rstcount\",\"deveui\"]}]","payloadType":"json","x":200,"y":1640,"wires":[["68fb5546.067e54"]]},{"id":"71044e6e.24b9d8","type":"function","z":"5258cdbc.d990fc","name":"Set url and credentials","func":"var api = 'api/v1/uplink/send';\nmsg.method = 'post';\n\nmsg.url = `${global.get('das_url')}/${api}`;\nmsg.headers = {'Authorization': global.get('das_token')};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":920,"wires":[["29c18cf5.804794"]]},{"id":"3620eca0.d1d29c","type":"mqtt in","z":"5258cdbc.d990fc","name":"MQTT - joinReq","topic":"basicsmodem/join","qos":"2","datatype":"auto","broker":"7f073bae.894e4c","nl":false,"rap":false,"x":120,"y":800,"wires":[["3ef7d03c.474d6","4a8527cc.860638"]]},{"id":"3c3ecf29.df775","type":"inject","z":"5258cdbc.d990fc","name":"devEuis","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"[\"22-02-90-00-00-00-00-05\", \"22-02-90-00-00-00-00-06\"]","payloadType":"json","x":120,"y":200,"wires":[["9ed45d77.1a9ec"]]},{"id":"9ed45d77.1a9ec","type":"function","z":"5258cdbc.d990fc","name":"Set deveuis","func":"global.set('deveuis', msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":200,"wires":[[]]},{"id":"85295636.daf29","type":"inject","z":"5258cdbc.d990fc","name":"Clear requests","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1720,"wires":[["249b4775.abd548"]]},{"id":"249b4775.abd548","type":"function","z":"5258cdbc.d990fc","name":"/api/v1/requests/clear","func":"var api = 'api/v1/requests/clear';\nmsg.method = 'post';\n\nmsg.url = `${global.get('das_url')}/${api}`;\nmsg.headers = {'Authorization': global.get('das_token')};\n\nmsg.payload = {\n   'deveuis':  global.get('deveuis'),\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1720,"wires":[["be681515.8eb66"]]},{"id":"be681515.8eb66","type":"http request","z":"5258cdbc.d990fc","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":710,"y":1720,"wires":[["56304946.680cf"]]},{"id":"56304946.680cf","type":"json","z":"5258cdbc.d990fc","name":"","property":"payload","action":"","pretty":false,"x":850,"y":1720,"wires":[["4643f1fa.f63bf"]]},{"id":"4643f1fa.f63bf","type":"debug","z":"5258cdbc.d990fc","name":"requests/add","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.result","targetType":"msg","x":990,"y":1720,"wires":[]},{"id":"d9a8aca2.844fe","type":"link out","z":"5258cdbc.d990fc","name":"Downlink from DAS","links":["c8341396.ee3c5"],"x":355,"y":1120,"wires":[]},{"id":"c8341396.ee3c5","type":"link in","z":"5258cdbc.d990fc","name":"To LNS downlink","links":["d9a8aca2.844fe"],"x":71,"y":1309,"wires":[["9a5f6bbc.508a78","cfa4f6bb.48fab8"]]},{"id":"1bda592d.297abf","type":"comment","z":"5258cdbc.d990fc","name":"_________________________      Downlink management      _________________________","info":"","x":500,"y":1240,"wires":[]},{"id":"4cd14105.ca07e","type":"link out","z":"5258cdbc.d990fc","name":"Stream from DAS","links":["cfd39c95.fcbc08"],"x":575,"y":1080,"wires":[]},{"id":"cfa4f6bb.48fab8","type":"debug","z":"5258cdbc.d990fc","name":"DAS - Downlink","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":296,"y":1369,"wires":[]},{"id":"99631383.87d1a","type":"debug","z":"5258cdbc.d990fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":680,"wires":[]},{"id":"bd68ecd9.ece408","type":"inject","z":"5258cdbc.d990fc","name":"DAS url","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"https://das.loracloud.com","payloadType":"str","x":120,"y":120,"wires":[["e3902fd1.0235a"]]},{"id":"e3902fd1.0235a","type":"function","z":"5258cdbc.d990fc","name":"DAS url","func":"global.set('das_url', msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[[]]},{"id":"70de1209.cb3a2c","type":"inject","z":"5258cdbc.d990fc","name":"DAS server token","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":150,"y":160,"wires":[["c2162bf5.46ffe8"]]},{"id":"c2162bf5.46ffe8","type":"function","z":"5258cdbc.d990fc","name":"DAS server token","func":"global.set('das_token', msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[[]]},{"id":"54dfd6f6.027c","type":"inject","z":"5258cdbc.d990fc","name":"Assistance coordinates for GNSS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"[31.275,121.445]","payloadType":"json","x":200,"y":240,"wires":[["864930a6.1388f8"]]},{"id":"864930a6.1388f8","type":"function","z":"5258cdbc.d990fc","name":"Assistance coordinates","func":"global.set('device_assistance_coordinates', msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":240,"wires":[[]]},{"id":"c3cd82eb.faebd8","type":"ui_text_input","z":"5258cdbc.d990fc","name":"","label":"DAS Token","tooltip":"","group":"32883965.9ccee6","order":1,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","topicType":"str","x":790,"y":120,"wires":[["519f582f.835ad8"]]},{"id":"6f7ab11f.d4901","type":"ui_text_input","z":"5258cdbc.d990fc","name":"","label":"DevEuis","tooltip":"such as: [\"22-02-90-00-00-00-00-05\",\"00-16-C0-01-F0-00-17-B9\"]","group":"32883965.9ccee6","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":800,"y":200,"wires":[["dcf0b0e1.877de"]]},{"id":"31e1b39b.045fbc","type":"ui_text_input","z":"5258cdbc.d990fc","name":"","label":"GNSS Longitude, Latitude","tooltip":"such as: [31.275,121.445]","group":"32883965.9ccee6","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":750,"y":160,"wires":[["c398a38e.e415d"]]},{"id":"519f582f.835ad8","type":"function","z":"5258cdbc.d990fc","name":"Set DAS Token","func":"if(msg.payload !== \"\"){\n    global.set('das_token', msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":120,"wires":[[]]},{"id":"dcf0b0e1.877de","type":"function","z":"5258cdbc.d990fc","name":"Set DevEuis","func":"if(msg.payload !== \"\"){\n    global.set('deveuis', msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":200,"wires":[[]]},{"id":"c398a38e.e415d","type":"function","z":"5258cdbc.d990fc","name":"set longitude/latitude","func":"if(msg.payload !== \"\"){\n    global.set('device_assistance_coordinates', msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":160,"wires":[[]]},{"id":"74ea1fa5.4515b","type":"template","z":"5258cdbc.d990fc","name":"Map preview","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" style=\"height: 570px; width: 520px;\"></iframe>","output":"str","x":290,"y":280,"wires":[["f8ff2497.30ee5"]]},{"id":"f8ff2497.30ee5","type":"ui_template","z":"5258cdbc.d990fc","group":"65ccc3f7.91c54c","name":"Map preview","order":2,"width":"10","height":"11","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":450,"y":280,"wires":[[]]},{"id":"d3efef57.cbfdb8","type":"inject","z":"5258cdbc.d990fc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[["74ea1fa5.4515b"]]},{"id":"2653dcbf.2f5c1c","type":"ui_button","z":"5258cdbc.d990fc","name":"","group":"32883965.9ccee6","order":5,"width":0,"height":0,"passthru":false,"label":"Reset to Default","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hello","payloadType":"str","topic":"","x":780,"y":240,"wires":[["89ea7a7d.29cfe8"]]},{"id":"89ea7a7d.29cfe8","type":"function","z":"5258cdbc.d990fc","name":"Reset Settings","func":"global.set('das_token', \"put your das token here\");\nglobal.set('deveuis', '[\"22-02-90-00-00-00-00-05\",\"00-16-C0-01-F0-00-17-B9\"]');\nglobal.set('device_assistance_coordinates', \"[31.275,121.445]\");","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":240,"wires":[[]]},{"id":"59cdb8.3cb02a48","type":"ui_template","z":"5258cdbc.d990fc","group":"7a47de8b.7c26e8","name":"Download All Logs (Pushed By MQTT)","order":1,"width":0,"height":0,"format":"<a href=\"../lr1110-demo-start.log\" download=\"lr1110-demo-start.log\">\n    <button type=\"button\">Download All Logs (Pushed By MQTT)</button> \n</a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":192,"y":360,"wires":[[]]},{"id":"385da3f5.3ec8d4","type":"ui_button","z":"5258cdbc.d990fc","name":"","group":"7a47de8b.7c26e8","order":3,"width":0,"height":0,"passthru":false,"label":"Clear all Logs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"del","payloadType":"str","topic":"","x":120,"y":540,"wires":[["dbd01576.fd4058"]]},{"id":"dbd01576.fd4058","type":"function","z":"5258cdbc.d990fc","name":"Remove All Logs","func":"var fs = global.get('fs');\n\nfs.truncate('logs/lr1110-demo-start.log', 0, function() { \n    console.log('File Content Deleted') \n});\nfs.truncate('logs/lr1110-demo-before-req.log', 0, function() { \n    console.log('File Content Deleted') \n}); \nfs.truncate('logs/lr1110-demo-after-req.log', 0, function() { \n    console.log('File Content Deleted') \n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":540,"wires":[["9f6983ac.3ae29"]]},{"id":"9f6983ac.3ae29","type":"debug","z":"5258cdbc.d990fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":540,"wires":[]},{"id":"879b907f.5ae13","type":"ui_template","z":"5258cdbc.d990fc","group":"7a47de8b.7c26e8","name":"Download Logs (Before Geo Request)","order":1,"width":0,"height":0,"format":"<a href=\"../lr1110-demo-before-req.log\" download=\"lr1110-demo-before-req.log\">\n    <button type=\"button\">Download Logs (Before Geo Request)</button> \n</a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":420,"wires":[[]]},{"id":"3fe7009.2e7648","type":"ui_template","z":"5258cdbc.d990fc","group":"7a47de8b.7c26e8","name":"Download Logs (After Geo Request)","order":1,"width":0,"height":0,"format":"<a href=\"../lr1110-demo-after-req.log\" download=\"lr1110-demo-after-req.log\">\n    <button type=\"button\">Download Logs (After Geo Request)</button> \n</a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":480,"wires":[[]]},{"id":"3ef7d03c.474d6","type":"function","z":"5258cdbc.d990fc","name":"Filter devEui","func":"let xpayload = JSON.parse(msg.payload);\n\nif(\"deveui\" in xpayload){\n    const devEui = xpayload.deveui.match( /.{1,2}/g ).join( '-' );\n    const devlist = global.get('deveuis');\n\n    if(devlist.indexOf(devEui) >= 0)\n        return msg;\n    else\n        return null;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":740,"wires":[["3f785945.eab616","a38f8f63.ab8088"]]},{"id":"3f785945.eab616","type":"function","z":"5258cdbc.d990fc","name":"Save log","func":"//let date = new Date(Date.now());\n//msg.time = date.toLocaleString('en-GB', { timeZone: 'UTC' });\nmsg.payload = JSON.parse(msg.payload);\nlet msg_file = {payload: msg};\nreturn msg_file;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":700,"wires":[["e3879cdb.2b27f"]]},{"id":"e3879cdb.2b27f","type":"file","z":"5258cdbc.d990fc","name":"","filename":"logs/lr1110-demo-start.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":810,"y":700,"wires":[[]]},{"id":"4a8527cc.860638","type":"debug","z":"5258cdbc.d990fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":800,"wires":[]},{"id":"a38f8f63.ab8088","type":"function","z":"5258cdbc.d990fc","name":"From NS","func":"var msg_das = null;\nvar payload_in;\n\ntry {\n  payload_in = (JSON.parse(msg.payload));\n} catch(err) {\n  node.error(\"Unable to parse input as JSON string\", msg);\n  return null;\n}\n\nif(\"event\" in payload_in && payload_in.event == 'joined') {  // join packets\n    // ignore join packets\n    return null;\n\n} else {  // normal uplink packets\n\n    msg.uplink = {\n      \"devEui\": payload_in.deveui,\n      \"port\": parseInt(payload_in.port, 10),\n      \"f_counter\": payload_in.fcnt,\n    };\n\n    var devEui_das_format = msg.uplink.devEui.match( /.{1,2}/g ).join( '-' );\n    var request = {\n      [devEui_das_format]: {\n        \"dn_mtu\": 51,\n        \"fcnt\": payload_in.fcnt,        // Required, frame counter\n      }\n    };\n\n    request[devEui_das_format].payload = payload_in.data || \"\";\n    request[devEui_das_format].msgtype = \"modem\";\n\n    msg_das = {\n      \"payload\": JSON.stringify(request),\n      \"topic\": msg.topic,\n      \"uplink\": msg.uplink,\n    }\n}\n\nreturn msg_das;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":780,"wires":[["f13f30ee.e796e8"]]},{"id":"a9bc1b5a.d49b","type":"function","z":"5258cdbc.d990fc","name":"DAS Parser","func":"try {\n  var payload_in = (JSON.parse(msg.payload));\n} catch(err) {\n  return null;\n}\n\n\nfor (const eui in payload_in.result) {\n  // Handle error, if any\n  var payload = payload_in.result[eui];\n  if (typeof payload.error !== \"undefined\") {\n    var msg_error = {\n      payload: payload.error,\n      topic: msg.topic\n    }\n    return [null, null, null, null, msg_error];\n  }\n\n  // Handle results\n  var result = payload.result;\n  var payload_data = {\n    \"info_fields\": result.info_fields,\n    \"fulfilled_requests\": result.fulfilled_requests,\n    \"log_messages\": result.log_messages,\n    \"pending_requests\": result.pending_requests,\n  }\n\n  var msg_file = null;\n  if (result.file !== null) {\n    msg_file = {\n      \"topic\": msg.topic,\n      \"payload\": result.file,\n      \"uplink\": msg.uplink,\n    }\n  }\n\n  var msg_stream = null;\n  if ((result.stream_records !== null) && (result.stream_records.length > 0)) {\n    msg_stream = {\n      \"topic\": msg.topic,\n      \"payload\": result.stream_records,\n      \"uplink\": msg.uplink,\n    }\n  }\n\n  var msg_downlink = null;\n  if ((typeof result.dnlink != \"undefined\") && (result.dnlink !== null)) {\n    msg_downlink = {};\n    msg_downlink.payload = {\n      \"deveui\": eui.split('-').join(''),\n      \"port\": result.dnlink.port,\n      \"confirmed\": false,\n      \"data\": result.dnlink.payload,\n    }\n    msg_downlink.topic = `basicsmodem/downlink`;\n  }\n}\n\nmsg.payload = payload_data;\n\nreturn[msg, msg_file, msg_stream, msg_downlink, null];\n\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":1080,"wires":[["7f20f401.bb093c"],[],["cea7a295.3d918","4cd14105.ca07e"],["d9a8aca2.844fe"],["94e00a49.1480b"]]},{"id":"f13f30ee.e796e8","type":"link out","z":"5258cdbc.d990fc","name":"","links":["c55d3ee7.535398"],"x":735,"y":780,"wires":[]},{"id":"c55d3ee7.535398","type":"link in","z":"5258cdbc.d990fc","name":"","links":["f13f30ee.e796e8"],"x":75,"y":920,"wires":[["71044e6e.24b9d8"]]},{"id":"4c40b8a0.ca33a","type":"debug","z":"5258cdbc.d990fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":920,"wires":[]},{"id":"7f073bae.894e4c","type":"mqtt-broker","name":"","broker":"139.196.73.1","port":"2003","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"32883965.9ccee6","type":"ui_group","name":"Settings","tab":"6b0e1783.9905","order":1,"disp":true,"width":"7","collapse":false},{"id":"65ccc3f7.91c54c","type":"ui_group","name":"Map Preview","tab":"6b0e1783.9905","order":3,"disp":true,"width":"10","collapse":false},{"id":"7a47de8b.7c26e8","type":"ui_group","name":"Log Files","tab":"6b0e1783.9905","order":2,"disp":true,"width":"7","collapse":false},{"id":"6b0e1783.9905","type":"ui_tab","name":"Settings and Map","icon":"dashboard","order":1,"disabled":false,"hidden":false}]